extends ../main.layout.pug

block variables
    - var title = 'Блог'

block scripts
    script(src='blog.bundle.js')

block content

    header.header.header--blog
        .header-container
            .header__socials

                +socials('header')

            .header__menu
                button.hamburger(type="button")
                    .hamburger__planks

            .header__content
      
                .header__user-desc.header__user-desc--blog
                    .user
                        .user__container
                            .user__pic
                                +image('content/me-square.jpg', 'user picture', 'user__pic-img')
                            .user__info.user__info--blog
                                +image('titles/blog_header.png', 'page title', 'header__title-img')
                                .user__info--container
                                    h2.subtitle.subtitle--blog блог
                                    h3.user__desc.user__desc--blog Статьи, которые я написала
    
    -
        var articles = [
            {
                index: '1',
                title: 'Самое важное в SASS',
                date: '28 декабря 2018 года',
                datetime: '2018-12-28 19:00',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
            },
            {
                index: '2',
                title: 'Приёмы в вёрстке, без которых не обходится ни один сайт',
                date: '21 января 2019 года',
                datetime: '2019-01-21 12:00',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
            },
            {
                index: '3',
                title: 'Самый необходимый набор Gulp плагинов',
                date: '18 февраля 2019 года',
                datetime: '2019-02-18 09:00',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям. Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
            },
            {
                index: '4',
                title: 'Почему я выбрал Pug',
                date: '06 марта 2019 года',
                datetime: '2019-03-06 21:00',
                text: 'Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.  Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.'
            }
        ]

    
    section.blog
        
        aside.blog-menu.js-blog-menu
            ul.blog-menu__list.js-blog-menu__list
                each article in articles
                    li.blog-menu__item.js-scroll-article
                        button.blog-menu__btn(type="button" data-infdex-button=article.index)= article.title
                                    
            button.blog-menu__button(type="button")
            
        section.blog__articles.js-articles
            each article in articles
                article.articles__item.js-article(data-article=article.index)
                    h3.articles__item-title= article.title
                    time.articles__item-date(datetime=article.datetime)= article.date
                    .articles__item-content= article.text
            